
<div class="index-card-doctor">
  <div class="doctors-container" >


    <%= render "search_doctor" %>


      <div class="list-index-doc">
        <% @doctors.each do |doctor| %>
        <div class="patient-card">
          <div class="patient-info">
            <div class="patient-avatar"> <!-- Ajoutez la classe "patient-avatar" ici -->
              <%= link_to user_path(doctor.id), class: "link-card-doctor" do %>
                <% if doctor.photo.attached? %>
                  <%= cl_image_tag doctor.photo.key, crop: :fill, class: "avatar" %>
                <% else %>
                  <%= image_tag("pp_default.png", class: "avatar") %>
                <% end %>
              <% end %>
            </div>



            <div class="show-more">

              <%= link_to "Voir plus", user_path(doctor.id) %>

            </div>



            <div class="patient-name">
              <p><%= "#{doctor.first_name.capitalize} #{doctor.last_name.upcase}" %></p>
            </div>
            <div class="patient-details">
              <span>
                <i class="fas fa-envelope" style="font-size: 0.7rem; padding-top: 6px; padding-left: 8px; opacity: 0.6;"></i>
                <%= doctor.email %>
              </span>
              <span>
                <i class="fas fa-phone" style="font-size: 0.7rem; padding-top: 6px; padding-left: 8px; opacity: 0.6; "></i>
                <%= doctor.number %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
