



<!-- ------------------------------- Index qui permet au docteur de voire tous ces patients ------------------------------- -->




<% if current_user.role == 'doctor' %>
  <body class="patients-home">

    <%= render "shared/nav-dashboard" %>

    <div data-controller="search-users" data-search_users_target="lol" class="main-content">

      <div class="top-index">
        <h1 class="title-index"> Mes patients <span class="counterpatient"><%= User.where(role: "patient").count %></span></h1>
        <%= render "search" %>
      </div>

      <%= render "list" %>

    </div>
  </body>
<% end %>




<!-- ------------------------------- Index qui permet au patient de voire tous les docteurs ------------------------------- -->




<% if current_user.role == 'patient' %>

  <div class="index-container">

    <div class="search-container">

      <%= render "shared/menu-burger" ,style: "z-index: 1000;"%>

      <div class="top-index-doctor">

        <h1>Psychologue<span class="counterpatient"><%= User.where(role: "doctor").count %></span></h1>

      </div>


      <!-- ------------------------------------- MapBox + render du html de la list des docteurs ------------------------------------- -->

      <div class="mapbox-user-card">

        <div style="width: 1000px; height: 600px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <%= render "list-index-doctor" %>

      </div>

      <!-- ------------------------------------- MapBox ------------------------------------- -->

    </div>
  </div>
<% end %>
