

<!-- ------------------------------- Index qui permet au docteur de voire tous ces patients ------------------------------- -->

<% if current_user.role == 'doctor' %>

  <div class="dashboard-index">

    <%= render "shared/nav-dashboard" %>

    <div class="index-container">

    <div class="search-container" data-controller="search-users" data-search-users-target="lol" class="search-container">

      <%= render "search" %>


      <h1>Patients</h1>



      <%= render "list" %>




    </div>
  </div>
<% end %>




<!-- ------------------------------- Index qui permet au patient de voire tous les docteurs ------------------------------- -->




<% if current_user.role == 'patient' %>

  <div class="index-container">

  <div class="search-container">

    <%= render "search" %>

    <h1>Psychologue</h1>

    <div class="index-card-containe-positionr">

    <!-- ------------------------------------- MapBox ------------------------------------- -->

      <div style="width: 500px; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

    <!-- ------------------------------------- MapBox ------------------------------------- -->

      <div class="index-card-container">
        <% @doctors.each do |doctor| %>
          <div class="index-card">

            <%= link_to user_path(doctor.id), class: "link-card-users" do %>

              <% if doctor.photo.attached?  %>
                <%= cl_image_tag doctor.photo.key, crop: :fill %>
              <% else %>
                <%= image_tag("pp_default.png") %>
              <% end %>

              <div class="user-info-index">
                <div class="user-name-age">
                  <p><%= doctor.first_name %></p>
                  <p><%= doctor.last_name.capitalize %></p>
                  <p><%= doctor.age %> ans</p>
                </div>
                <div class="user-num-info">
                  <p><%= doctor.number %></p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
<% end %>
