<body class="no-navbar">

  <% if current_user.role == 'doctor' %>

    <div class="dashboard-index">


<!-- ------------------------------- Index qui permet au docteur de voire tous ces patients ------------------------------- -->


      <%= render "shared/nav-dashboard" %>

      <div class="index-container">

        <div class="search-bar">
          <%= image_tag("search_barre.png") %>
        </div>

        <h1>Patients</h1>

        <div class="index-card-containe-positionr">

          <div class="index-card-container">
            <% @patients.each do |patient| %>
              <div class="index-card">

                <%= link_to user_path(patient.id), class: "link-card-users" do %>

                  <%= image_tag("pp_default.png") %>

                  <div class="position-info-card">

                    <p><%= patient.first_name %></p>
                    <p><%= patient.last_name.capitalize %></p>
                    <p><%= patient.age %> ans</p>
                    <p><%= patient.number %></p>

                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>





  <!-- ------------------------------- Index qui permet au patient de voire tous les docteurs ------------------------------- -->





  <% if current_user.role == 'patient' %>

    <div class="dashboard-index">

      <div class="index-container">

        <div class="search-bar">
          <%= image_tag("search_barre.png") %>
        </div>

        <div class="index-card-containe-positionr">

          <div class="index-card-container">
            <% @doctors.each do |doctor| %>
              <div class="index-card">

                <%= link_to user_path(doctor.id) do %>

                  <%= image_tag("pp_default.png") %>

                  <div class="position-info-card">

                    <div class="primary-info-card">
                      <p><%= doctor.last_name %></p>
                      <p><%= doctor.first_name %></p>
                      <p><%= doctor.age %></p>
                    </div>

                    <div class="secondary-info-card">
                      <%= link_to doctor.number, user_path(doctor.id) %>
                    </div>

                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</body>
