

  <!-- ---------------------Afichage du doctor-------------------------- -->


<div class="dashboard-index">

  <% if current_user.role == 'doctor' %>
    <%= render "shared/nav-dashboard" %>

    <div class="show-container">
      <div class="user-card">
        <div class="user-img">
          <% if @user.photo.attached?  %>
            <%= cl_image_tag @user.photo.key, crop: :fill %>
          <% else %>
            <%= image_tag("pp_default.png") %>
          <% end %>
        </div>

        <div class="user-info">
          <div class="user-name-age">
            <p><%= @user.first_name  %></p>
            <p><%= @user.last_name %></p>
            <p><%= @user.age %> ans</p>
          </div>

          <div class="user-num-adress">
            <p><%= @user.number %></p>
            <p><%= @user.adress %></p>
          </div>
        </div>
      </div>

      <div class="user-reservation">
        <div class="user-description">
          <%= current_user.description %>
        </div>

        <div class=""></div>


        <% if  current_user != @user %>



          <div class="calender">

            <%= simple_form_for [@user, @reservation] do |f|%>
              <%= f.input :date,
                          as: :string,
                          input_html: { data: { controller: "datepicker" }, hidden: true },
                          label: false %>

          </div>


                <div class="input-right">


                  <div class="input-price">

                  <% if current_user.role == "doctor" %>

                    <%= f.input :price,
                                as: :string,
                                input_html: { class: 'form-control', placeholder: 'Saisissez le prix' },
                                label: false %>

                    </div>

                  <% end %>

                  <div class="boutton-valider">
                    <button type="submit" class="boutton-valider">Valider le rendez-vous</button>
                  </div>


                </div>
          <% end %>



        <% end %>
      </div>
    </div>
</div>


  <% else %>




  <!-- ---------------------------------------Affichage du patient------------------------------------ -->




    <div class="show-container-patient">
      <div class="user-card">
        <div class="user-img">
          <% if @user.photo.attached?  %>
            <%= cl_image_tag @user.photo.key, crop: :fill %>
          <% else %>
            <%= image_tag("pp_default.png") %>
          <% end %>
        </div>

        <div class="user-info">
          <div class="user-name-age">
            <p><%= @user.first_name %></p>
            <p><%= @user.last_name %></p>
            <p><%= @user.age %> ans</p>
          </div>

          <div class="user-num-adress">
            <p><%= @user.number %></p>
            <p><%= @user.adress %></p>
          </div>
        </div>
      </div>

      <div class="user-reservation">
        <div class="user-description">
          description du profil
        </div>

        <div class=""></div>

          <% if  current_user != @user %>

        <div class="calender">
          <%= simple_form_for  [@user, @reservation] do |f|%>
            <%= f.input :date,
                        as: :string,
                        input_html: { data: { controller: "datepicker" }, hidden: true },
                        label: false %>
            <% end %>
        </div>

        <div class="input-right">
          <div class="input-price">
            <p><%= @reservation.price %></p>
          </div>
          <div class="boutton-valider">
            <button type="submit" class="boutton-valider">Valider le rendez-vous</button>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  <% end %>
