<div class="left-navbar">
  <div class="pp-avatar">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    <%= "Dr #{current_user.last_name}" %>
  </div>

  <div class="nav-dashboard">
    <h6>Dashboard</h6>
    <div class="link-left-nav">
      <%= link_to "Patients" , users_path%>



      <%= link_to "Mes rendez-vous à venir", index_path %>



      <%= link_to "Historique" %>
      <%= link_to "Mes paiements" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
    </div>
  </div>
</div>
