

  <% unless @user.present? && @user.role == "doctor" %>

    <%= render "shared/menu-burger" %>
    <div class="bgc_opacity"></div>

    <div class="btn-rdv">
      <%= link_to "Prendre rendez-vous", users_path, class: "btn btn-primary" %>
    </div>

    <div class="containers">

      <div class="full-widths"> <%= image_tag("homeland.png") %></div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Qu'est-ce que le harcèlement ?</h4>
            </div>
            <p>Le harcèlement se définit comme une violence répétée qui peut être verbale, physique et/ou psychologique. Le phénomène se prolonge parfois en ligne, on parle alors de cyberharcèlement.</p>
          </div>
        </div>
        <div class="thirty-percents"><%= image_tag("010-scx0367849-809x510-jpg-93854.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Mon enfant est victime de harcèlement</h4>
            </div>
            <p>Si votre enfant subit de façon répétée des violences verbales, morales, physiques et des vols, il est victime de harcèlement. Aucun enfant, aucun adolescent ne doit subir cela, personne ne doit rester silencieux !</p>
          </div>
          </div>
        <div class="thirty-percents"><%= image_tag("021-vill0427807-jpg-96106.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Lutte contre le harcèlement : campagnes de sensibilisation</h4>
            </div>
            <p>Retrouvez l'ensemble des campagnes, outils et films de sensibilisation réalisés pour lutter contre le harcèlement à l'école.</p>
          </div>
          </div>
        <div class="thirty-percents"><%= image_tag("082-baj0389840-etablissement-scolaire-154934.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Le dispositif des ambassadeurs "Non au harcèlement"</h4>
            </div>
            <p>Outre la lutte contre le harcèlement, ce dispositif permet de valoriser le rôle des élèves et de leur donner des responsabilités au sein de leur établissement.</p>
          </div>
          </div>
        <div class="thirty-percents"><%= image_tag("ambassadeur-coll-gien---exemples-d-initiatives-97309.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Politique de lutte contre le harcèlement à l'Ecole</h4>
            </div>
            <p>La prévention et la lutte contre le harcèlement entre élèves est l'une des priorités du ministère.</p>
          </div>
        </div>
        <div class="thirty-percents"><%= image_tag("ambassadeurs-coll-giens-96094.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
            <h4>Paroles d'experts</h4>
            </div>
            <p>L'objectif est de partager ici-même la réflexion de spécialistes et professionnels de la lutte contre le harcèlement.</p>
          </div>
        </div>
        <div class="thirty-percents"><%= image_tag("campagnes-de-sensibilisation--118897.jpg") %></div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>Lauréats du concours Non au harcèlement</h4>
            </div>
            <p>Le prix "Non au harcèlement" organisé par le ministère avec le soutien de la Mutuelle MAE, a pour objectif de donner la parole aux jeunes des écoles, collèges, lycées, structures péri et extrascolaires pour qu’ils s'expriment collectivement sur le harcèlement.</p>
          </div>
        </div>
        <div class="thirty-percents"><%= image_tag("gem0662859-jpg-155951.jpg") %></div>
      </div>


      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
              <h4>pHARe : un programme de lutte contre le harcèlement à l'école</h4>
            </div>
            <p>Le programme de lutte contre le harcèlement à l’école, pHARe, est un plan global de prévention et de traitement des situations de harcèlement. Mis en place depuis 2021, généralisé aux écoles et collèges à la rentrée 2023.</p>
          </div>
        </div>
        <div class="thirty-percents"><%= image_tag("hp-non-au-harc-lement---9-novembre-2023-158766.jpg") %></div>
      </div>
    </div>
  <% end %>
