
<%= render "acceuil" %>

<!-- ---------------- Dashboard du docteur ---------------- -->



    <% if @user.present? %>
      <% if @user.role == "doctor" %>

        <div class="dashboard">


<!-- ------------------ Div pour la Navbar de gauche -------------------->



          <%= render "shared/nav-dashboard" %>

          <div class="dashboard-container">



<!-- ------------------ Div pour les 4 carte du haut du dashboard de Patient à Chiffre d'affaires ------------------ -->


            <div class="card-container">

              <%= link_to users_path do %>

                <div class="card-top">
                  <h3><strong>Mes patients</strong></h1>
                  <div class="icon-info-card">
                    <i class="fa-solid fa-hospital-user"></i>
                    <p><%= User.where(role: "patient").count %></p>
                  </div>
                </div>

              <% end %>

              <%= link_to upcoming_reservations_path(current_user)  do %>

                <div class="card-top">
                  <h3><strong>Mes rendez-vous</strong></h3>
                   <div class="icon-info-card">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p><%= Reservation.where(doctor_id: current_user).where("date >= ?", Date.today).count %></p>
                  </div>
                </div>

               <% end %>

              <%= link_to profiles_path do %>

                <div class="card-top">
                  <h3><strong>Mon historique</strong></h3>
                  <div class="icon-info-card">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <p><%= Reservation.where(doctor_id: current_user).where("date < ?", Date.today).count %></p>
                  </div>
                </div>

               <% end %>


              <%= link_to profiles_path do %>

                <div class="card-top">
                  <h3><strong>Chiffre d'affaires</strong></h3>
                  <div class="chiffre-affaire">
                    <div class="icon-info-card">
                      <i class="fa-solid fa-euro-sign"></i>
                      <p>3850€<p>
                      <p class="pourcent-up">+7,03%</p>
                    </div>
                  </div>
                </div>

               <% end %>
            </div>



<!-- ---------------- Div pour les 2 carte du milieux "Catégorie de patients" et "consultation de la semaine" ---------------- -->



            <div class="midle-container">

              <div class="patient-type-card">
                <h3><strong>Types de patients</strong></h3>

                <div class="patient-container">
                  <div class="img-rotation">
                    <%= image_tag("stat_rond.jpg",style: "border-radius: 50%;") %>
                  </div>
                  <div class="list-stats">
                    <ul>

                      <li class="li-space">
                        <p>Harcèlement scolaire</p>
                        <p>39,7 %</p>
                      </li>

                      <li class="li-space">
                        <p>Harcèlement sexuel</p>
                        <p>23,8 %</p>
                      </li>

                      <li class="li-space">
                        <p>Cyberharcèlement</p>
                        <p>22,4 %</p>
                      </li>

                      <li class="li-space">
                        <p>Autres </p>
                        <p>14,1 %</p>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>


              <div class="week-reservation-card">
                <h3><strong>Consultations de la semaine</strong></h3>

                <div class="li-week">
                  <ul>
                    <li class="li-space">
                      <p><strong>Lundi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mardi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mercredi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Jeudi :</strong></p>
                      <p>4</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Vendredi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                    <p><strong>Samedi :</strong></p>
                      <p>2</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <%# <div class="month-activity-card">
              <h3>Activité par mois</h3> %>
              <div class="chart-container">
                <!-- TABLEAAU A CODER -->
              <%# </div>
            </div> %>
          </div>
        </div>
      <% end %>
    <% end %>
