<body class="no-navbar">

  <% unless @user.present? && @user.role == "doctor" %>

    <%= render "shared/menu-burger" %>
    <%# <%= image_tag("bgc_home.jpg", class: "background-image", alt: "") %>
    <div class="bgc_opacity"></div>

    <div class="btn-rdv">
      <%= link_to "Prendre rendez-vous", users_path, class: "btn btn-primary" %>
    </div>

    <div class="containers">

      <div class="full-widths"> <%= image_tag("homeland.png") %></div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Qu'est-ce que le harcèlement ?</h4>
            </div>
          <p>Le harcèlement se définit comme une violence répétée qui peut être verbale, physique et/ou psychologique. Le phénomène se prolonge parfois en ligne, on parle alors de cyberharcèlement.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Mon enfant est victime de harcèlement</h4>
            </div>
          <p>Si votre enfant subit de façon répétée des violences verbales, morales, physiques et des vols, il est victime de harcèlement. Aucun enfant, aucun adolescent ne doit subir cela, personne ne doit rester silencieux !</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Lutte contre le harcèlement : campagnes de sensibilisation</h4>
            </div>
          <p>Retrouvez l'ensemble des campagnes, outils et films de sensibilisation réalisés pour lutter contre le harcèlement à l'école.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Le dispositif des ambassadeurs "Non au harcèlement"</h4>
            </div>
          <p>Outre la lutte contre le harcèlement, ce dispositif permet de valoriser le rôle des élèves et de leur donner des responsabilités au sein de leur établissement.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Politique de lutte contre le harcèlement à l'Ecole</h4>
            </div>
          <p>La prévention et la lutte contre le harcèlement entre élèves est l'une des priorités du ministère.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Paroles d'experts</h4>
            </div>
          <p>L'objectif est de partager ici-même la réflexion de spécialistes et professionnels de la lutte contre le harcèlement.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Lauréats du concours Non au harcèlement</h4>
            </div>
          <p>Le prix "Non au harcèlement" organisé par le ministère avec le soutien de la Mutuelle MAE, a pour objectif de donner la parole aux jeunes des écoles, collèges, lycées, structures péri et extrascolaires pour qu’ils s'expriment collectivement sur le harcèlement.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>


      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>pHARe : un programme de lutte contre le harcèlement à l'école</h4>
            </div>
          <p>Le programme de lutte contre le harcèlement à l’école, pHARe, est un plan global de prévention et de traitement des situations de harcèlement. Mis en place depuis 2021, généralisé aux écoles et collèges à la rentrée 2023.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>HARCÈLEMENT : MENTIONS CONCERNANT LES DONNÉES PERSONNELLES</h4>
            </div>
          <p>Le traitement Stop Harcèlement vise la prise en charge et le suivi des situations de harcèlement concernant les élèves. Il est mis en œuvre par le ministre chargé de l’éducation nationale pour l’exécution d’une mission d’intérêt public.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>De nouvelles mesures contre le harcèlement à l’Ecole</h4>
            </div>
          <p>La lutte contre le harcèlement à l'École est une priorité du ministère de l’Éducation nationale et de la Jeunesse. Des mesures viennent compléter celles déjà en place pour prévenir ou traiter plus efficacement et rapidement les situations les plus complexes.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Conférence internationale sur la lutte contre le harcèlement entre élèves</h4>
            </div>
          <p>L’Unesco et le ministère français de l’Éducation nationale, de la Jeunesse et des Sports ont organisé une Conférence internationale sur la lutte contre le harcèlement entre élèves le 5 novembre 2020. </p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Contre l'homophobie et la transphobie à l'École</h4>
            </div>
          <p>Le ministère est engagé dans la lutte contre toutes les formes de discriminations et de violences, dont celles à caractère homophobe ou transphobe.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Refuser l'oppression quotidienne : la prévention du harcèlement à l'École</h4>
            </div>
          <p>Le harcèlement se définit comme une violence répétée qui peut être verbale, physique et/ou psychologique. Le phénomène se prolonge parfois en ligne, on parle alors de cyberharcèlement.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

      <div class="half-widths">
        <div class="seventy-percents">
          <div class="entire-home">
            <div class="titre-home">
          <h4>Climat scolaire et prévention des violences</h4>
            </div>
          <p>Un climat scolaire serein est une condition essentielle pour assurer les bonnes conditions de travail, le bien-être et l'épanouissement des élèves. La grande masse des violences en milieu scolaire est constituée d’actes d’incivilité et de victimation souvent mineures mais répétées.</p>
          </div>
          </div>
        <div class="thirty-percents">IMAGE</div>
      </div>

    </div>
  <% end %>



<!-- ---------------- Dashboard du docteur ---------------- -->

    <% if @user.present? %>
      <% if @user.role == "doctor" %>

        <div class="dashboard">

          <!-- Div pour la Navbar de gauche-->
          <%= render "shared/nav-dashboard" %>

          <div class="dashboard-container">

            <!-- Div pour les 4 carte du haut du dashboard de Patient à Chiffre d'affaires -->
            <div class="card-container">

              <%= link_to users_path do %>

                <div class="card-top">
                  <h3><strong>Mes patients</strong></h1>
                  <div class="icon-info-card">
                    <i class="fa-solid fa-hospital-user"></i>
                    <strong><p><%= Reservation.where(doctor_id: current_user).count %></p></strong>
                  </div>
                </div>

              <% end %>

              <%= link_to past_reservations_path(current_user) do %>

                <div class="card-top">
                  <h3><strong>Consultations précédentes</strong></h3>
                  <strong><p><%= Reservation.where(doctor_id: current_user).where("date < ?", Date.today).count %></p></strong>
                </div>

               <% end %>

              <%= link_to upcoming_reservations_path(current_user)  do %>

                <div class="card-top">
                  <h3><strong>Mes prochains rendez-vous</strong></h3>
                  <strong><p><%= Reservation.where(doctor_id: current_user).where("date > ?", Date.today).count %></p></strong>
                </div>

               <% end %>

              <%= link_to profiles_path do %>

                <div class="card-top">
                  <h3><strong>Chiffre d'affaires</strong></h3>
                  <div class="chiffre-affaire">
                    <p><strong>3850€</strong><p>
                    <p class="pourcent-up">+7,03%</p>
                  </div>
                </div>

               <% end %>
            </div>


          <!-- Div pour les 2 carte du milieux "Catégorie de patients" et "consultation de la semaine" -->
            <div class="midle-container">

              <div class="patient-type-card">
                <h3><strong>Types de patients</strong></h3>

                <div class="patient-container">
                  <div class="img-rotation">
                    <%= image_tag("stat_rond.jpg",style: "border-radius: 50%;") %>
                  </div>
                  <div class="list-stats">
                    <ul>

                      <li class="li-space">
                        <p>Harcèlement scolaire</p>
                        <p>39,7 %</p>
                      </li>

                      <li class="li-space">
                        <p>Harcèlement sexuel</p>
                        <p>23,8 %</p>
                      </li>

                      <li class="li-space">
                        <p>Cyberharcèlement</p>
                        <p>22,4 %</p>
                      </li>

                      <li class="li-space">
                        <p>Autres </p>
                        <p>14,1 %</p>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>


              <div class="week-reservation-card">
                <h3><strong>Consultations de la semaine</strong></h3>

                <div class="li-week">
                  <ul>
                    <li class="li-space">
                      <p><strong>Lundi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mardi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mercredi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Jeudi :</strong></p>
                      <p>4</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Vendredi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                    <p><strong>Samedi :</strong></p>
                      <p>2</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- Div pour l'activité du mois -->

            <div>

            </div>





          </div>




        </div>
      <% end %>














<!-- ---------------- Home patient et non connecter ---------------- -->


      <% if @user.role == "patient" || current_user == nil%>
        <div class="test-patient">
        </div>
        <div>

        </div>
      <% end %>
    <% end %>
  </div>
</body>
