<div>
  <% unless @user.present? && @user.role == "doctor" %>
    <%= image_tag("bgc_home", class: "background-image", alt: "Background for video games") %>
    <div class="bgc_opacity"></div>
    <div class="home_page">
      <h1>Pages#home</h1>
  <% end %>

  <% if @user.present? %>
    <% if @user.role == "doctor" %>
      <div class="dashboard">


        <!-- Div pour la Navbar de gauche-->

        <div class="left-navbar">

          <div class="pp-avatar">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            <%= "Dr. #{@user.last_name}" %>
          </div>
          <div class="nav-dashboard">
            <h6>Dashboard</h6>

            <div class="link-left-nav">

              <%= link_to "Patients" %>

              <%= link_to "Mes rendez-vous à venir" %>

              <%= link_to "Historique" %>

              <%= link_to "Mes payement" %>

            </div>

          </div>












        </div>






<!-- ---------------- contenu de la home du dashboard ---------------- -->


        <div class="dashboard-container">

          <!-- Div pour les 4 carte du haut du dashboard de Patient à Chiffre d'affaires -->
          <div class="card-container">

            <div class="card-top">
              <h3><strong>Patients</strong></h1>
              <strong><%= User.where(role: "patient").count %></strong>
            </div>

            <div class="card-top">
              <h3><strong>consultations précédentes</strong></h3>
              <p><strong>57</strong></p>
            </div>

            <div class="card-top">
              <h3><strong>Prochaines consultations</strong></h3>
              <p><strong>28</strong></p>
            </div>

            <div class="card-top">
              <h3><strong>Chiffre d'affaire</strong></h3>
              <div class="chiffre-affaire">
                <p><strong>3783€</strong><p>
                <p class="pourcent-up">+7,03%</p>
              </div>
            </div>

          </div>


        <!-- Div pour les 2 carte du milieux de la page "Catégorie de patients" et "consultation de la semaine" -->
          <div class="midle-container">

            <div class="patient-type-card">
              <h3><strong>Type de patients</strong></h3>

              <div class="patient-container">
                <%= image_tag("stat_rond.jpg",style: "border-radius: 50%;") %>
                <div class="list-stats">
                  <ul>

                    <li class="li-space">
                      <p>Harcélment scolaire</p>
                      <p>39,7 %</p>
                    </li>

                    <li class="li-space">
                      <p>Harcélement sexuel</p>
                      <p>23,8 %</p>
                    </li>

                    <li class="li-space">
                      <p>Cyber Harcélement</p>
                      <p>22,4 %</p>
                    </li>

                    <li class="li-space">
                      <p>Other .....</p>
                      <p>14,1 %</p>
                    </li>

                  </ul>
                </div>
              </div>
            </div>


            <div class="week-reservation-card">
              <h3><strong>Consulation de la semaine</strong></h3>

              <div class="li-week">
                <ul>
                  <li class="li-space">
                    <p><strong>Lundi :</strong></p>
                    <p>5</p>
                  </li>
                  <li class="li-space">
                    <p><strong>Mardi :</strong></p>
                    <p>6</p>
                  </li>
                  <li class="li-space">
                    <p><strong>Mercredi :</strong></p>
                    <p>5</p>
                  </li>
                  <li class="li-space">
                    <p><strong>Jeudi :</strong></p>
                    <p>4</p>
                  </li>
                  <li class="li-space">
                    <p><strong>Vendredi :</strong></p>
                    <p>6</p>
                  </li>
                  <li class="li-space">
                  <p><strong>Samedi :</strong></p>
                    <p>2</p>
                  </li>
                </ul>
              </div>
            </div>

          </div>




          <!-- Div pour l'activité du mois -->

          <div>

          </div>





        </div>




      </div>
    <% end %>









<!-- ---------------- Home patient et non connecter ---------------- -->


    <% if @user.role == "patient" %>
      <div>
        <p>CODE HOME PATIENT</p>
      </div>
    <% end %>
  <% end %>
</div>
