<body class="no-navbar">

  <div>
    <% unless @user.present? && @user.role == "doctor" %>

      <%= render "shared/menu-burger" %>
      <%= image_tag("bgc_home.jpg", class: "background-image", alt: "") %>
      <div class="bgc_opacity"></div>


        <div class="btn-rdv">
          <%= link_to "Prendre rendez-vous", users_path, class: "btn btn-primary" %>
        </div>


        <div class="home_page">
          <h1>Serinity</h1>

          <p>
            Vous n'êtes pas seule face au harcèlement scolaire.
            Notre site est dédié à fournir un soutien empathique et des ressources essentielles pour ceux qui traversent des moments difficiles à l'école.
            Nous comprenons les défis émotionnels et psychologiques auxquels vous pourriez être confronté(e) et sommes ici pour vous aider à naviguer à travers cette période difficile.
            Notre communauté bienveillante offre un espace sécurisé pour partager des expériences, obtenir des conseils pratiques et trouver des solutions constructives.
            Ensemble, nous travaillons à créer un environnement éducatif sain et respectueux.
            Vous méritez de vous épanouir académiquement sans craindre le harcèlement.
            Rejoignez-nous dans cette mission de soutien et d'entraide.
          </p>
    <% end %>








<!-- ---------------- Dashboard du docteur ---------------- -->

    <% if @user.present? %>
      <% if @user.role == "doctor" %>

        <div class="dashboard">

          <!-- Div pour la Navbar de gauche-->
          <%= render "shared/nav-dashboard" %>

          <div class="dashboard-container">

            <!-- Div pour les 4 carte du haut du dashboard de Patient à Chiffre d'affaires -->
            <div class="card-container">

              <%= link_to users_path do %>

                <div class="card-top">
                  <h3><strong>Patients</strong></h1>
                  <strong><%= Reservation.where(doctor_id: current_user).count %></strong>
                </div>

              <% end %>

              <%= link_to past_reservations_path(current_user) do %>

                <div class="card-top">
                  <h3><strong>Consultations précédentes</strong></h3>
                  <strong><%= Reservation.where(doctor_id: current_user).where("date < ?", Date.today).count %></strong>
                </div>

               <% end %>

              <%= link_to upcoming_reservations_path(current_user)  do %>

                <div class="card-top">
                  <h3><strong>Prochaines consultations</strong></h3>
                  <strong><%= Reservation.where(doctor_id: current_user).where("date > ?", Date.today).count %></strong>
                </div>

               <% end %>

              <%= link_to profiles_path do %>

                <div class="card-top">
                  <h3><strong>Chiffre d'affaires</strong></h3>
                  <div class="chiffre-affaire">
                    <p><strong>3783€</strong><p>
                    <p class="pourcent-up">+7,03%</p>
                  </div>
                </div>

               <% end %>
            </div>


          <!-- Div pour les 2 carte du milieux "Catégorie de patients" et "consultation de la semaine" -->
            <div class="midle-container">

              <div class="patient-type-card">
                <h3><strong>Types de patients</strong></h3>

                <div class="patient-container">
                  <div class="img-rotation">
                    <%= image_tag("stat_rond.jpg",style: "border-radius: 50%;") %>
                  </div>
                  <div class="list-stats">
                    <ul>

                      <li class="li-space">
                        <p>Harcèlement scolaire</p>
                        <p>39,7 %</p>
                      </li>

                      <li class="li-space">
                        <p>Harcèlement sexuel</p>
                        <p>23,8 %</p>
                      </li>

                      <li class="li-space">
                        <p>Cyberharcèlement</p>
                        <p>22,4 %</p>
                      </li>

                      <li class="li-space">
                        <p>Autres </p>
                        <p>14,1 %</p>
                      </li>

                    </ul>
                  </div>
                </div>
              </div>


              <div class="week-reservation-card">
                <h3><strong>Consultations de la semaine</strong></h3>

                <div class="li-week">
                  <ul>
                    <li class="li-space">
                      <p><strong>Lundi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mardi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Mercredi :</strong></p>
                      <p>5</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Jeudi :</strong></p>
                      <p>4</p>
                    </li>
                    <li class="li-space">
                      <p><strong>Vendredi :</strong></p>
                      <p>6</p>
                    </li>
                    <li class="li-space">
                    <p><strong>Samedi :</strong></p>
                      <p>2</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <!-- Div pour l'activité du mois -->

            <div>

            </div>





          </div>




        </div>
      <% end %>














<!-- ---------------- Home patient et non connecter ---------------- -->


      <% if @user.role == "patient" || current_user == nil%>
        <div class="test-patient">
          <p>CODE HOME PATIENT</p>
        </div>
        <div>

        </div>
      <% end %>
    <% end %>
  </div>
</body>
