

<!-- ------------------------------- Index qui permet au docteur de voire tous ces patients ------------------------------- -->
  <body class="patients-home">

      <%= render "shared/nav-dashboard" %>

      <div class="main-content">
        <h1>Mes rendez-vous<span class="counterpatient"><%= User.where(role: "patient").count %></span></h1>
        <div class="patients-search">
          <input type="text" placeholder="Recherchez un patient" class="recherche">
        </div>
        <div class="patients-container">
          <% @reservations.each do |reservation| %>
            <div class="patient-card">
              <div class="patient-info">
                <div class="patient-avatar"> <!-- Ajoutez la classe "patient-avatar" ici -->
                  <%= link_to user_path(reservation.patient.id), class: "link-card-users" do %>
                    <% if reservation.patient.photo.attached? %>
                      <%= cl_image_tag reservation.patient.photo.key, crop: :fill, class: "avatar" %>
                    <% else %>
                      <%= image_tag("pp_default.png", class: "avatar") %>
                    <% end %>
                  <% end %>
                </div>

                 <div class="show-more">
                    <%= link_to "Voir plus", user_path(reservation.patient.id) %>

                  </div>



                <div class="patient-name">
                  <p><%= "#{reservation.patient.first_name.capitalize} #{reservation.patient.last_name.upcase}" %></p>
                </div>
                <div class="patient-details">
                  <span>
                    <i class="fas fa-envelope" style="font-size: 0.7rem; padding-top: 6px; padding-left: 8px; opacity: 0.6;"></i>
                    <%= reservation.patient.email %>
                  </span>
                  <span>
                    <i class="fas fa-phone" style="font-size: 0.7rem; padding-top: 6px; padding-left: 8px; opacity: 0.6; "></i>
                    <%= reservation.patient.number %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </body>
